*{
    margin: 0;
    padding: 0;
}
.login-containor{
    border: 1px solid;
    height: 25rem;
    width: 30rem;
    margin: 7rem 0 5rem 23rem ;

}

.login-headding >h2{
    margin: 2rem;
    font-size: 1.8rem;
    color: #c51f49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.login-form{
    margin: 2rem 0 0 5rem ;
}
.login-input{
                    height: 2rem;
					width: 20rem;
					outline: none;
					color: #222;
					font-size: 16px;
					/* font-family: 'poppins',sans-serif; */
}
.space{
    margin-top: 16px;
}
.login-page{
    margin-top: 2rem;
    margin-left: 3rem;
}
.login-button{
    height: 2rem;
    width: 6rem;
    letter-spacing: 0.1rem;
    margin: 2.4rem 0 0 6.5rem;
    border: 1px solid;
    background-color: white;
}
.login-button:hover{
    border: 1px solid;
    background-color: #c51f49;
}